VITE_SUPABASE_URL=https://isqpoqiapiuzywwcqmma.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlzcXBvcWlhcGl1enl3d2NxbW1hIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg0MDI2NzUsImV4cCI6MjA5Mzk3ODY3NX0.urwI27HMoIUJzm3j9Fb-dggR55dS0YjEiAblU62irag
